{% extends 'base_header.html' %}

{% block navlinks %}
<li class="nav-item"><a href="/" class="nav-link">Students</a></li>
<li class="nav-item"><a href="/courses" class="nav-link active" aria-current="page">Courses</a></li>
<li class="nav-item"><a href="/colleges" class="nav-link">Colleges</a></li>
{% endblock %}

{% block content %}
<div class = "container">
  <h1 style = "font-size: 40px">Add Course</h1>
</div>
<!-- container for input fields -->
<div class = "container">
  <div class = "col-md-6">
    <div class = "card mt-30">
      <div class = "card-body">
        <!-- input fields for the add_course action -->
        <form class = "form" action = "/courses/add_course" method = "POST">
          <label for = "course_code">Course Code</label>
          <input type = "text" name = "course_code" id = "course_code" class = "form-control" placeholder = "e.g. BSIT, BSBA, etc."><br>
          <label for = "course_name">Course Name</label>
          <input type = "text" name = "course_name" id = "course_name" class = "form-control" placeholder = "e.g. Bachelor of Science in Information Technology..."><br>
          <label for = "college_code">College Code</label>
          <select name = "college_code" id = "college_code" class = "form-control selectpicker"><br>
            <option selected disabled value = "">e.g. CCS, COET, etc.</option>
            {% for college in college_select %}
            <option value = "{{college['college_code']}}">{{college['college_code']}} - {{college['college_name']}}</option>
            {% endfor %}
          
          <input type = "submit" class = "btn btn-primary btn-block btn-lg" value = "Add Course" style = "margin-top: 20px;">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}