{% extends 'base_header.html' %}

{% block navlinks %}
<li class="nav-item"><a href="/" class="nav-link">Students</a></li>
<li class="nav-item"><a href="/courses" class="nav-link">Courses</a></li>
<li class="nav-item"><a href="/colleges" class="nav-link active" aria-current="page">Colleges</a></li>
{% endblock %}

{% block content %}   
<div class = "container">
  <h1 style = "font-size: 40px">Add College</h1>
</div>
<!-- container for input fields -->
<div class = "container">
  <div class = "col-md-6">
    <div class = "card mt-30">
      <div class = "card-body">
        <!-- input fields for the add_college action -->
        <form class = "form" action = "/colleges/add_college" method = "POST">
          <label for = "college_code">College Code</label>
          <input type = "text" name = "college_code" id = "college_code" class = "form-control" placeholder = "e.g. CCS, COET, etc." required><br>
          <label for = "college_name">College Name</label>
          <input type = "text" name = "college_name" id = "college_name" class = "form-control" placeholder = "e.g. College of Computer Studies..." required><br>

          <input type = "submit" class = "btn btn-primary btn-block btn-lg" value = "Add College">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}