{% extends 'base_header.html' %}

{% block navlinks %}
<li class="nav-item"><a href="/" class="nav-link">Students</a></li>
<li class="nav-item"><a href="/courses" class="nav-link">Courses</a></li>
<li class="nav-item"><a href="/colleges" class="nav-link active" aria-current="page">Colleges</a></li>
{% endblock %}

{% block content %}   
        <div class = "container search-table">
          <!-- search box -->
          <div class = "search-box">
            <div class = "row">
              <div class = "col-md-3">
                <h3>Search for Colleges</h3>
              </div>
              <div class = "col-md-7">
                <input type = "text" id = "searchtext" class = "form-control" placeholder = "Search...">
              </div>
              <div class = col-md-2>
                <!-- redirect to add_college.html -->
                <a href = "/colleges/add_collegepage" class = "btn btn-dark">Add College</a>
              </div>
            </div>
          </div>
          <table class = "table table-striped custab">
            <!-- search table header -->
            <thead>
                <tr>
                    <th>College Code</th>
                    <th>College Name</th>
                    <th width = 100px></th>
                </tr>
            </thead>
            <!-- loop for displaying search table contents -->
            {% for row in college %}
            <!-- table contents -->
            <tbody id = "college">
                <tr>
                    <td>{{row.college_code}}</td>
                    <td>{{row.college_name}}</td>
                    <td>
                      <!-- redirect to edit_college.html -->
                      <a href = "/colleges/edit_collegepage/{{row.college_code}}" class = "btn btn-warning customwidth">Edit</a>
                      <br><br>
                      <!-- confirm button for delete_college action -->
                      <a href = "/colleges/delete_college/{{row.college_code}}" class = "btn btn-danger customwidth" onclick="return confirm('Are you sure about deleting this college? It cannot be undone')">Delete</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
        <!-- filter script -->
        <script>
          $(document).ready(function(){
            $("#searchtext").on("keyup",function(){
              var value = $(this).val().toLowerCase();
              $("#college tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
            });
          });
        </script>
{% endblock %}