{% extends 'base_header.html' %}

{% block navlinks %}
<li class="nav-item"><a href="/" class="nav-link">Students</a></li>
<li class="nav-item"><a href="/courses" class="nav-link active" aria-current="page">Courses</a></li>
<li class="nav-item"><a href="/colleges" class="nav-link">Colleges</a></li>
{% endblock %}

{% block content %}
<div class = "container search-table">
  <!-- search box -->
  <div class = "search-box">
    <div class = "row">
      <div class = "col-md-3">
        <h3>Search for Courses</h3>
      </div>
      <div class = "col-md-7">
        <input type = "text" id = "searchtext" class = "form-control" placeholder = "Search...">
      </div>
      <div class = col-md-2>
        <!-- redirect to add_course.html -->
        <a href = "/courses/add_coursepage" class = "btn btn-dark">Add Course</a>
      </div>
    </div>
  </div>
  <table class = "table table-striped custab">
    <!-- search table header -->
    <thead>
        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>College Code</th>
            <th width = 100px></th>
        </tr>
    </thead>
    <!-- loop for displaying table contents -->
    {% for row in course %}
    <!-- table contents -->
    <tbody id = "course">
        <tr>
            <td>{{row.course_code}}</td>
            <td>{{row.course_name}}</td>
            <td>{{row.college_code}}</td>
            <td>
              <!-- redirect to edit_course.html -->
              <a href = "/courses/edit_coursepage/{{row.course_code}}" class = "btn btn-warning customwidth">Edit</a>
              <br><br>
              <!-- confirm button for delete_course action -->
              <a href = "/courses/delete_course/{{row.course_code}}" class = "btn btn-danger customwidth" onclick="return confirm('Are you sure about deleting this course? It cannot be undone')">Delete</a>
            </td>
        </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
<!-- filter script -->
<script>
  $(document).ready(function(){
    $("#searchtext").on("keyup",function(){
      var value = $(this).val().toLowerCase();
      $("#course tr").filter(function(){
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
{% endblock %}