<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'css/style.css')}}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script type = "text/javascript" src = "{{url_for('static', filename = 'js/jquery-3.6.0.min.js')}}"></script>
    

    <title>Courses</title>

  </head>
  <body>
    <main>
      <main>
        <!-- navigation bar for students, courses, and colleges page -->
        <div class="container">
          <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
              <span class="fs-4"><h2>Simple Student Information System</h2></span>
            </a>
      
            <ul class="nav nav-pills">
              <li class="nav-item"><a href="/" class="nav-link">Students</a></li>
              <li class="nav-item"><a href="/courses" class="nav-link active" aria-current="page">Courses</a></li>
              <li class="nav-item"><a href="/colleges" class="nav-link">Colleges</a></li>
            </ul>
          </header>
        </div>
        
        <div class = "container search-table">
          <!-- search box -->
          <div class = "search-box">
            <div class = "row">
              <div class = "col-md-3">
                <h3>Search for Courses</h3>
              </div>
              <div class = "col-md-7">
                <input type = "text" id = "searchtext" class = "form-control" placeholder = "Search...">
              </div>
              <div class = col-md-2>
                <!-- redirect to add_course.html -->
                <a href = "/courses/add_coursepage" class = "btn btn-dark">Add Course</a>
              </div>
            </div>
          </div>
          <table class = "table table-striped custab">
            <!-- search table header -->
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>College Code</th>
                    <th width = 100px></th>
                </tr>
            </thead>
            <!-- loop for displaying table contents -->
            {% for row in course %}
            <!-- table contents -->
            <tbody id = "course">
                <tr>
                    <td>{{row.course_code}}</td>
                    <td>{{row.course_name}}</td>
                    <td>{{row.college_code}}</td>
                    <td>
                      <!-- redirect to edit_course.html -->
                      <a href = "/courses/edit_coursepage/{{row.course_code}}" class = "btn btn-warning customwidth">Edit</a>
                      <br><br>
                      <!-- confirm button for delete_course action -->
                      <a href = "/courses/delete_course/{{row.course_code}}" class = "btn btn-danger customwidth" onclick="return confirm('Are you sure about deleting this course? It cannot be undone')">Delete</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
        <!-- filter script -->
        <script>
          $(document).ready(function(){
            $("#searchtext").on("keyup",function(){
              var value = $(this).val().toLowerCase();
              $("#course tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
            });
          });
        </script>
    </main>
  </body>
  </html>