{% extends 'base_header.html' %}

{% block navlinks %}
<li class="nav-item"><a href="/" class="nav-link">Students</a></li>
<li class="nav-item"><a href="/courses" class="nav-link active" aria-current="page">Courses</a></li>
<li class="nav-item"><a href="/colleges" class="nav-link">Colleges</a></li>
{% endblock %}

{% block content %}
<div class = "container">
  <h1 style = "font-size: 40px">Edit Course</h1>
</div>
<!-- loop for displaying input fields content -->
{% for row in course_info %}
<div class = "container">
  <div class = "col-md-6">
    <div class = "card mt-30">
      <div class = "card-body">
        <!-- input fields for edit_course action -->
        <form class = "form" action = "/courses/edit_course/{{row.course_code}}" method = "POST">
            <!-- input fields with pre-existing data displayed -->
            <label for = "course_code">Course Code</label>
            <input type = "text" class = "form-control" value = "{{row.course_code}}" disabled>
            <input type = "hidden" value = "{{row.course_code}}" name = "course_code" id = "course_code" class = "form-control"><br>
            <label for = "course_name">Course Name</label>
            <input type = "text" value = "{{row.course_name}}" name = "course_name" id = "course_name" class = "form-control" placeholder = "e.g. Bachelor of Science in Information Technology..."><br>
            <label for = "college_code">College Code</label>
            <input type = "text" value = "{{row.college_code}}" name = "college_code" id = "college_code" class = "form-control" placeholder = "e.g. CCS, COET, etc."><br>
          
          <input type = "submit" class = "btn btn-primary btn-block btn-lg" value = "Edit Course">
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}