{% extends 'base_header.html' %}

{% block navlinks %}
<li class="nav-item"><a href="/" class="nav-link">Students</a></li>
<li class="nav-item"><a href="/courses" class="nav-link">Courses</a></li>
<li class="nav-item"><a href="/colleges" class="nav-link active" aria-current="page">Colleges</a></li>
{% endblock %}

{% block content %}   
<div class = "container">
  <h1 style = "font-size: 40px">Edit College</h1>
</div>
<!-- loop for displaying input fields content -->
{% for row in college_info %}
<div class = "container">
  <div class = "col-md-6">
    <div class = "card mt-30">
      <div class = "card-body">
        <!-- input fields for edit_college action -->
        <form class = "form" action = "/colleges/edit_college/{{row.college_code}}" method = "POST">
            <!-- input fields with pre-existing data displayed -->
            <label for = "college_code">College Code</label>
            <input type = "text" class = "form-control" value = "{{row.college_code}}" disabled>
            <input type = "hidden" value = "{{row.college_code}}" name = "college_code" id = "college_code" class = "form-control"><br>
            <label for = "college_name">College Name</label>
            <input type = "text" value = "{{row.college_name}}" name = "college_name" id = "college_name" class = "form-control" placeholder = "e.g. College of Computer Studies..."><br>
          
          <input type = "submit" class = "btn btn-primary btn-block btn-lg" value = "Edit Course">
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}